@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800');

.panel{border:none;background-color: #e8e8e8;height:30px;border-radius: 0}

p{font-family: 'Open Sans', sans-serif;font-size:16px;color:#434343}

a{color:#7f7f7f}

a:focus,a:active,a:hover{color:#333}

header{height:100px}

h1{font-family: 'Open Sans', sans-serif; color:#e06900;font-weight:bold;font-size:24px;margin-bottom:50px}
h2{font-family: 'Open Sans', sans-serif; color:#51a8ca;font-weight:bold;font-size:18px}
h3{font-family: 'Open Sans', sans-serif; color:#e06900;font-weight:bold;font-size:24px;float:left;margin-bottom:50px}

.social {float: left;text-align: left}

.social ul {list-style-type:none;padding-left:0;margin-top:3px}

.social ul li {display: inline-block;padding-right: 10px}

.social a i {color:#868686;font-size: 1.5em;text-decoration: none;transition: color .5s;-webkit-transition: color .5s;-moz-transition: color .5s}

.social a:hover i.fa-facebook {color: #3B5998}

.social a:hover i.fa-vk {color: #517397}

.social a:hover i.fa-twitter {color: #4099ff}

.social a:hover i.fa-google-plus {color: #d34836}

.social a:hover i.fa-youtube {color: #ff3333}

.list-unstyled ol, ul a {color:#e06900}

.top {padding-top:4px}

h5{margin:5px 0}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	 background-color: #5cb85c;
	 color: #fff;
}

.nav-tabs > li > a{
	background-color: #ddd;
	color: #333;
}

#accordion .panel-title{
	margin: 5px 0;
	font-weight: bold;
}

.list-inline li a {color:#868686;font-family: 'Open Sans', sans-serif; padding-left: 12px}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {

	background-color:#fe8f2d;color:#fff;

}

blockquote{
	border-left-color: #73c76c;
}

.registration ul{	
	list-style-image: url(/images/cheker.png) !important;
}

.dropdown-menu{

	width: 100%;

}

.dropdown-menu > li > a{

	background-color:#fe8f2d;color:#fff;

	

}

.dropdown-menu > li > a:hover{

	background-color:#fe8f2d;color:#000;

}

.btn-success,.btn-danger,.btn-warning {border-radius:0;color:#fff !important; font-family: "Open Sans",sans-serif}

.btn-default {color:#e06900;border-radius:0;border-color:#e06900}

.btn-default:hover{background-color:transparent;color:#333;border-color:#e06900}

.mon {margin-top:-3px}

.mon a {padding: 9px 0}

.phones{color:#000;font-family: 'Open Sans', sans-serif; font-size:22px;border-left: solid thin #e8e8e8; padding-top:20px}

.reqwest{margin-top:20px}

.search {margin:18px 0 0 -20px}

.input-group-addon{background-color:transparent;color:#73c76c}

.form-control{font-family: 'Open Sans', sans-serif; font-style:italic;border-radius:0;box-shadow: 1px 2px 2px #ddd;color:#b9b9b9}

.modal-content{border-radius:0}

.modal-dialog h4{color:#e06900}

.modal-dialog a{color:#73c76c;font-family: 'Open Sans', sans-serif}

.checkbox label, .radio label{font-family: 'Open Sans', sans-serif;font-size:14px;color:#b9b9b9}

.modal-footer{text-align:center}

.glyphicon-ok,.glyphicon-remove{right:12px}

.cart_top {background-color:#d8fcd5; height:70px; width:70px; border: solid thin #73c76c;border-radius:150px;padding: 20px;margin-left:25px}

.cart_top a {color:#bc3f3f}.cart a:hover{opacity:0.4}

.navbar-default { background-color:#e06900;margin-bottom:0;border-radius:0;border:none}

.navbar-default .navbar-nav > li > a{color:#fff;font-family: 'Open Sans', sans-serif; font-weight:bold;padding:15px 25px}

.navbar-default .navbar-nav > li > a:hover{background-color:#fe8f2d;color:#fff}

.breadcrumb{background-color:transparent}

.orange {color:#E06900}

.green {color:#449D44}

.icon_menu{
	text-align: center;
}

.icon_menu img:hover{
	opacity: .7;
	background: rgba(224,105,0);
	cursor: pointer;
}

.desc1 li{
	list-style-image: url('../images/list-img1.png');
	padding: 6px 0;
}

.tech_list li{
	list-style-image: url('../images/list-img.png');
	padding: 6px 0;
}

.functions{
	text-align: center;
}

.functions p{
	font-size: 14px;
	padding-top: 10px;
	width: 100px;
}

.functions img{
		opacity: .3;
		width: 80px;
		height: auto;
}

.functions img:hover{
	opacity: 1;
	cursor: pointer;
}

#review h3{color:#fff;font-weight:bold;font-size:18px;margin:0 10px 0 0}

.cartproduct h2{color:#343534;font-size:25px; margin-top: 0}

.cartproduct h4{color:#e06900;font-size:20px; margin: 25px 0;text-align:left}

.cartproduct {height:2500px}

.cartproduct .caption {color:#7d7d7d;font-size:16px; margin: 25px 0; font-weight:normal}

.list-unstyled li{padding:3px 0}

.price {color:#E06900;font-size:24px}

.qty-price {color:#5f5f5f;font-size:18px}

.qty-input{height: 30px;width: 70px; padding-left:10px;margin: 5px 50px 5px 10px}

.panel-title {background-color:#e8e8e8;position:relative;padding:12px;}

.catalogue h4{color:#E06900}

.catalogue li{padding:10px 0}

.portfolio a{opacity:1}.portfolio a:hover{opacity:0.7}.portfolio img {margin: 10px 10px 10px 10px;-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1);transform: scale(1, 1);transition-duration: 0.3s;-webkit-transition-duration: 0.3s;}.portfolio img:hover {cursor: pointer;-webkit-transform:scale(2.2, 2.2);-ms-transform: scale(2.2, 2.2);transform: scale(2.2, 2.2);transition-duration: 0.3s;-webkit-transition-duration: 0.3s;z-index: 1000}

.pagination {margin:0 0 10px 0}

.pagination > li > a, .pagination > li > span {border:none;color:#868686}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background-color:transparent;color:#73c76c;font-size:16px;line-height:1.2}

 .slider {background-attachment: fixed;background-clip: border-box;background-image: url('../images/slider_bg.jpg');background-origin: padding-box;background-position: center 0;background-repeat:repeat-x;background-size: cover;height:800px;padding-top: 116px;text-align: right;z-index: 0;margin-bottom:30px}

.slider h1{font-family: 'Open Sans', sans-serif; color:#fff;font-weight:bold;font-size:41px}

.hr_orange {height:1px; width:100%;border-bottom:solid thin #e06900; top:34px; right:0; position:absolute}

.affix{top:0;width:100%;z-index:10}

.product {width:100%;height:auto;margin-bottom:10px;border:solid thin #ddd;}

.product:hover{margin-bottom:10px;border:solid thin #ccc;opacity:1;box-shadow: 3px 5px 7px #888;opacity:0.8}

.product p{margin:10px 0; padding:0 10px; text-align:center; height: 155px;position: relative;}

.product img{width:100%; height:auto;}

.caption {font-family: 'Open Sans', sans-serif;color:#333;font-weight:bold;font-size:16px;margin-top:10px;text-align:center;height:70px}

.action{position:absolute;width:77px;height:77px;top:-10px;right:-7px}

.novelties{position:absolute;width:77px;height:77px;top:-10px;right:-7px}

#about .hr_orange{left:-87px; width:118%}

#possibilities img {margin:15px;float:left}

#possibilities p {padding-top:33px}

#possibilities .hr_orange{left:-63px; width:108%}

#equipment img{margin: 0 auto !important}

#equipment p{padding-top:30px}

#equipment .hr_orange{left:-55px; width:107%}

.registration {margin: 50px 0 200px 0}

.registration .hr_orange{left:-40px; width:103%}

.contact {margin: 50px 0 150px 0;}

.contact p{text-align:right} 

footer {height:145px;padding-top:10px;background-color:#e8e8e8;border-bottom:solid 4px #e06900}

footer p{color:#212121;padding-top:7px}

footer .social{margin-left:53px}

footer img{margin:20px}

footer li {padding-top:9px}

footer a{color:#6d6d6d}

footer a:hover{color:#7d7d7d}

.up{position:relative;float:right;width:34px;height:20px;background-repeat:no-repeat;bottom:-34px;right:0}

.up img{margin:0}

.call{position:fixed;width:83px;height:83px;background-repeat:no-repeat;bottom:200px;right:35px;opacity:0.7}

.call a{opacity:0.7}

.call a:hover{transition: opacity 1s ease-in-out 0s;opacity:1;-webkit-opacity:1;}

.sectionA{opacity:0.7}


.gallery-box {

	display: flex;

	position: relative;

	margin: 0 auto;

	min-width:500px;

	min-height: 369px;

	padding:0;

	overflow:hidden;

}

.gallery-box .gallery-box-caption {

	display: block;

	position: absolute;

	bottom: 0;

	width: 100%;

	height: 100%;

	text-align: center;

	color: #fff;

	opacity: 0;

	background: rgba(44,44,44,.8);

	-webkit-transition: all .35s;

	-moz-transition: all .35s;

	transition: all .35s;

}

.gallery-box .gallery-box-caption .gallery-box-content {

	position: absolute;

	top: 50%;

	left:10%;

	width: 80%;

	text-align: left;

	transform: translateY(-50%);

	border: solid thin #fff;

	padding:30px;

}

.gallery-box:hover .gallery-box-caption {

	opacity: 1;

}

.gallery-box:hover img {

	-webkit-transform: scale(1.1);

	-ms-transform: scale(1.1);

	transform: scale(1.1);

}

.gallery-box img {

	-webkit-transition: all 300ms ease-in-out;

	transition: all 300ms ease-in-out;

}

.no-gutter > [class*=col-] {

	padding-right: 0;

	padding-left: 0;

}

.range {

    display: table;

    position: relative;

    height: 25px;

    margin-top: 20px;

    background-color: rgb(245, 245, 245);

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    cursor: pointer;

}



.range input[type="range"] {

    -webkit-appearance: none !important;

    -moz-appearance: none !important;

    -ms-appearance: none !important;

    -o-appearance: none !important;

    appearance: none !important;



    display: table-cell;

    width: 100%;

    background-color: transparent;

    height: 25px;

    cursor: pointer;

}

.range input[type="range"]::-webkit-slider-thumb {

    -webkit-appearance: none !important;

    -moz-appearance: none !important;

    -ms-appearance: none !important;

    -o-appearance: none !important;

    appearance: none !important;



    width: 11px;

    height: 25px;

    color: rgb(255, 255, 255);

    text-align: center;

    white-space: nowrap;

    vertical-align: baseline;

    border-radius: 0px;

    background-color: rgb(153, 153, 153);

}



.range input[type="range"]::-moz-slider-thumb {

    -webkit-appearance: none !important;

    -moz-appearance: none !important;

    -ms-appearance: none !important;

    -o-appearance: none !important;

    appearance: none !important;

    

    width: 11px;

    height: 25px;

    color: rgb(255, 255, 255);

    text-align: center;

    white-space: nowrap;

    vertical-align: baseline;

    border-radius: 0px;

    background-color: rgb(153, 153, 153);

}



.range output {

    display: table-cell;

    padding: 3px 5px 2px;

    min-width: 40px;

    color: rgb(255, 255, 255);

    background-color: rgb(153, 153, 153);

    text-align: center;

    text-decoration: none;

    border-radius: 4px;

    border-bottom-left-radius: 0;

    border-top-left-radius: 0;

    width: 1%;

    white-space: nowrap;

    vertical-align: middle;



    -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    -ms-transition: all 0.5s ease;

    transition: all 0.5s ease;



    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: -moz-none;

    -o-user-select: none;

    user-select: none;

}



.range output.left {

	border-radius: 4px;

    border-bottom-right-radius: 0;

    border-top-right-radius: 0;

}



.range input[type="range"] {

    outline: none;

}



.range.range-success input[type="range"]::-webkit-slider-thumb {

    background-color: rgb(92, 184, 92);

}

.range.range-success input[type="range"]::-moz-slider-thumb {

    background-color: rgb(92, 184, 92);

}

.range.range-success output {

    background-color: rgb(92, 184, 92);

}

.range.range-success input[type="range"] {

    outline-color: rgb(92, 184, 92);

}



@media screen and (max-width :1024px) {





}



@media screen and (max-width :768px) {

	header{height:340px}

	.panel {font-size:10px;height:38px}

	.search{margin:18px 0 0 0}

	.phones{margin-top:30px}

	.cart{margin-top:30px}

	.call{bottom:510px}

}



@media screen and (max-width : 767px) {

		header{height:340px}

	.panel {font-size:10px;height:38px}

	.search{margin:18px 0 0 0}

	.phones{margin-top:30px}

	.cart{margin-top:30px}

	.call{bottom:510px}

}





@media screen and (max-width : 600px) {

	header{height:340px}

	.panel {font-size:12px;height:38px}

	.search{margin:18px 0 0 0}

	.phones{margin-top:30px}

	.cart{margin-top:30px}

	.call{bottom:510px}



}





/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

	

	header{height:340px}

	.panel {font-size:10px;height:38px}

	.search{margin:18px 0 0 0}

	.phones{margin-top:30px}

	.cart{margin-top:30px}

	.call{bottom:510px}

}



@media only screen and (max-width : 320px) {





}

